@use "./foundation/var-mixin.scss" as var-mixin;

.l-content {
    width: 100%;
    height: auto;

    @include var-mixin.pc {
        width: calc(100% - 280px);
        height: auto;

    }
}

.l-content.active {
    display: none;
    
}

.l-content_single {
    background-color: var-mixin.$gray;

}