@use "./foundation/var-mixin.scss" as var-mixin;

.p-form {
    display: inline-block;
    text-align: left;

}

.p-form__body {
    display: inline-block;
    width: 100%;

    @include var-mixin.pc {
        width: 100%;
        max-width: 600px;

    }

}

.p-form__title {
    text-align: left;

}

.p-form__logo {
    margin-bottom: 20px;

    @include var-mixin.pc {
        font-size: 2.5rem;
        margin-bottom: 30px;

    }

}

.p-form__content {
    margin-bottom: 20px;

    @include var-mixin.tab {
        margin-bottom: 50px;

    }

}

.p-form__button {
    text-align: center;

}