@use "./foundation/var-mixin.scss" as var-mixin;

.p-post {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    margin-bottom: 12px;


    @include var-mixin.sp {
        width: 47%;

        &:not(:nth-child( odd )) {
            margin-left: 5%;
    
        }
    }

    @include var-mixin.pc {
        width: 30%;

        &:not(:nth-child( odd )) {
            margin-left: 0;
    
        }

        &:not(:nth-child(3n+1)) {
            margin-left: 5%;
    
        }
    }

    @include var-mixin.pc-wide {
        width: 23%;

        &:not(:nth-child( odd )) {
            margin-left: 0;
    
        }

        &:not(:nth-child(3n+1)) {
            margin-left: 0;
    
        }

        &:not(:nth-child(4n+1)) {
            margin-left: 2%;
    
        }
    }
}

.p-post_hover {
    position: relative;
    transform: translateY(-10px);

}

.p-post__img {
    width: 100%;
    margin-bottom: 3%;

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 10/9;
        height: 100%;
        box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 20%);

    }
}

.p-post__content {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: var-mixin.$black;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        transition-duration: 0.5s;
    }
}

.p-post_hover-img {

    &::before {
        opacity: 0.3;

    }
}

.p-post__category {
    position: absolute;
    display: flex;
    top: 0;
    left: 0; 

}

.p-post__category_list {
    font-weight: 700;
    background: var-mixin.$gray-dark;
    font-size: 0.8em;
    padding: 2px 4px;
    
    &:nth-child( n + 2) {
        margin-left: 3%;

    }
}

.p-post__infomation {
    aspect-ratio: 7/2;
    overflow-wrap: break-word;
}

.p-post__title {
  margin-bottom: 1%;

}