@use "./foundation/var-mixin.scss" as var-mixin;

.c-separator {

    @include var-mixin.pc {
        &::before {
            content: "";
            display: block;
            width: 48px;
            height: 2px;
            background: var-mixin.$gray-light;
            margin: 35px 0;
        }
    }
}